.ava_main_main {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

}
button{
  outline: none;
  border: none;
  color: #fff;
}
.ava_main {
  background: #081526;
  
  border-radius: 20px;
  height: 90vh;
  width: 80vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
}
.ava_main * {
  height: fit-content;
}
.select_text {
  font-size: larger;
}
.ava_slider {
  display: flex;
  gap: 20%;
  justify-content: center;
  align-items: center;
}
.select_btn {
  background: rgba(4, 13, 18, 1);
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.select_btn:hover {
  background: rgb(10, 35, 48);
  border-radius: 12px;
}
.select_btn:active {
  scale: 0.8;
}
.arrow_btn {
  transition: all 0.5s;
  font-size: 24px;
}
.arrow_btn:hover {
  scale: 1.4;

}
.arrow_btn:active {
  scale: 0.6;
}
.nickName{
    background-color:rgb(96, 143, 151) ;
    max-width: 30%;
    max-height: 30px;
    margin-left: auto;
    margin-right: auto;
}
.back-button {
  position: absolute;
  top: 10px; /* Adjust this value for vertical positioning */
  left: 10px; /* Adjust this value for horizontal positioning */
  background-color: #081526;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}